body {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: center;
}

.general {

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.mostrador {

    width: 60em;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-items: ;


    background-color: burlywood;
}

.grid-container1 {
    width: 59.6em;
    height: 80vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
   border: 10% black;
   border-style: solid;
    

    background-color: darkorange;
}

.grid-item1 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

   
    border-radius: 20%;
    background-color: black;
}

#paella-marisco{
width: 9em;
height: 9em;

}



.grid-item2 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#paella-valenciana{
    width: 9em;
    height: 9em;
    

}



.grid-item3 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: black;

}

#papelhigienico{

    width: 9em;
    height: 9em;
}



.grid-container2 {
    width: 59.6em;
    height: 80vh;

    border: 8% black;
    border-style: solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
}

.grid-item4 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: black;
}

#cerveza {
    width: 9em;
    height: 9em;

}






.grid-item5 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#periodico {
    width: 9em;
    height: 9em;

}


.grid-item6 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: black;

}

#espejo {
    width: 9em;
    height: 9em;

}



.grid-container3 {
    width: 59.6em;
    height: 80vh;

    border: 8% black;
    border-style: solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkorange;
}

.grid-item7 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: black;
}

.grid-item8 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}


.grid-item9 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: black;

}









.carrito {

    width: 30em;
    height: 90vh;

    display: flex;


    background-color: crimson;
}


#basura{
    width: 30em;
    height: 70vh;
}

.precio{
    height: 3em;

    font-size:2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
