body {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: center;
}

.general {

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.mostrador {

    width: 60em;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-items: ;


    background-color: white;
}

.grid-container1 {
    width: 59.6em;
    height: 80vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
   border: 10% black;
   border-style: solid;
   border-radius: 5%; 

    background-color: white;
}

.grid-item1 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

   
    border-radius: 20%;
    background-color: white;
}

#botella-agua{
width: 9em;
height: 9em;

}



.grid-item2 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#botella-vino{
    width: 9em;
    height: 9em;
    

}



.grid-item3 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#papelhigienico{

    width: 9em;
    height: 9em;
}



.grid-container2 {
    width: 59.6em;
    height: 80vh;

    border: 8% black;
    border-style: solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.grid-item4 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;
}

#cerveza {
    width: 9em;
    height: 9em;

}






.grid-item5 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#periodico {
    width: 9em;
    height: 9em;

}


.grid-item6 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#espejo {
    width: 9em;
    height: 9em;

}



.grid-container3 {
    width: 59.6em;
    height: 80vh;
    border: 0.25em groove #a1d7b6;
    border-style: solid;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.grid-item7 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;
}

#bombilla {
    width: 9em;
    height: 9em;

}

.grid-item8 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#cinta {
    width: 9em;
    height: 9em;

}


.grid-item9 {
    width: 10em;
    height: 10em;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20%;
    background-color: white;

}

#belen {
    width: 9em;
    height: 9em;

}







.carrito {

    width: 30em;
    height: 90vh;

    display: flex;


    background-color: white;
}


#basura{
    width: 30em;
    height: 70vh;
    border-radius: 100%;
}

.precio{
    height: 3em;

    font-size:2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-contenedor{

    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: #a8f7ae;
    background-image: -webkit-linear-gradient(top, #a8f7ae, #2bb834);
    background-image: -moz-linear-gradient(top, #a8f7ae, #2bb834);
    background-image: -ms-linear-gradient(top, #a8f7ae, #2bb834);
    background-image: -o-linear-gradient(top, #a8f7ae, #2bb834);
    background-image: linear-gradient(to bottom, #a8f7ae, #2bb834);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 11px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }