body {

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: center;
}

.general {

    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.mostrador {

    width: 60em;
    height: 90vh;

    display: flex;
    flex-direction: column;


    background-color: burlywood;
}

.grid-container1 {
    width: 60em;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkorange;
}

.grid-item1 {
    width: 10em;
    height: 10em;

    border-radius: 20%;
    background-color: black;
}

.grid-item2 {
    width: 10em;
    height: 10em;

    border-radius: 20%;
    background-color: white;

}


.grid-item3 {
    width: 10em;
    height: 10em;

    border-radius: 20%;
    background-color: black;

}



.grid-container2 {
    width: 60em;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.grid-item4 {
    width: 10em;
    height: 10em;

    border-radius: 20%;
    background-color: black;
}

.grid-item5 {
    width: 10em;
    height: 10em;

    border-radius: 20%;
    background-color: white;

}


.grid-item6 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: black;

}



.grid-container3 {
    width: 60em;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
}

.grid-item7 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: black;
}

.grid-item8 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: white;

}


.grid-item9 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: black;

}


.grid-container4 {
    width: 60em;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.grid-item10 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: black;
}

.grid-item11 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: white;

}


.grid-item12 {
    width: 10em;
    height: 10em;


    border-radius: 20%;
    background-color: black;

}








.carrito {

    width: 30em;
    height: 90vh;

    display: flex;


    background-color: crimson;
}